<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="it.golovchenko.binwatch">

    <application android:allowBackup="true"
                 android:label="${appName}"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"/>
</manifest>
